@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* ----------Inicio CSS del Inicio------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    position: fixed;
    top: 0px;
    z-index: 3;
    height: 64px;
    width: 220px
}

main{
    padding-bottom: 100px;
    background-color: rgb(226, 225, 223)
}

nav ul li a{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-weight: bold;
}

/*Diseño Responsive*/

.navegador .fa-bars{
    display: none;
}

@media(max-width:768px){
    
    .navegador .fa-bars{
        display: block;
        margin: 10px;
        font-size: 45px;
        color: white;

    }
    .navegador .fa-bars:hover + ul {
        right: 0;
    } 
    .navegador ul {
        position: fixed;
        top: 0;
        right: -300px;
        width: 200px;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        transition: 0.5s;
    }
    .navegador ul:hover{
        right: 0;
    }
    .navegador ul li a{
        color: rgba(0, 0, 0, 0.836);

    }
    .navegador ul li a:hover{
        color: rgba(0, 0, 0);

    }
}

nav ul{
    display: flex;  
}

nav{
    background-color: #193E65;
    display: flex;
    justify-content: end;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
    height: 70px;
}

nav ul li{
    list-style: none;
}

nav img{
    height: 64px;
    width: 64px;
}

.carousel-item{
    width: 100%;
    height: 500px;
    margin-top: 70px;  
}

.titulo-index{
    color: white;
    font-family: 'Rubik', sans-serif;
    background-color: #193E65;
    text-align: center;
    padding: 20px;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.tarjeta{
    background-color: white;
    width: 400px;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 50px;
}

.imagen-tarjeta{
    object-fit: cover;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: -10px;
}

button a{
    color: white;
    text-decoration: none;
    padding: 10px;
    
}

.tarjeta button{
    background-color: #193E65;
    width: 100%;
    padding: 10px 20px;
    border-radius: 0px 0px 8px 8px;
    margin-top: -5px;
}

.carousel-item{
    width: 100%;
    height: auto;
}

iframe{
    border: 0;
    width: 100%;
}

/* ----------INICIO FOOTER---------- */

footer{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.tarjeta-ubicacion{
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    width: 700px;
    height: 100%;
    text-align: center;    
}

.tarjeta-ubicacion img{
    display: flex;
    justify-content: center;
}

.titulo-h3{
    margin-top: 20px;
    font-size: 24px;
    color: #193E65;
}

.titulo-tarjeta{
    background-color: #193E65;
    color: white;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

#A002{
    margin-top: 20px;
    font-size: 20px;
    color: #193E65;
}

.texto{
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.icono-footer{
    height: 64px;
    width: 64px;
}

.tarjeta-contacto{
    width: 300px;
    height: 350px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.separador{
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
}

footer div section p{
    margin-top: 20px;
}

.tarjeta-redes{
    width: 300px;
    height: 350px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

footer div section a{
    text-decoration: none;
    color: black;
}

/*--------PRODUCTOS-------*/

.titulo-productos-h1{
    color: white;
    font-family: 'Rubik', sans-serif;
    background-color: #193E65;
    text-align: center;
    margin-top: 64px; 
    padding: 60px; 
}

.tarjetas-productos{
    display: flex;
    background-color: white;
    width: 250px;
    height: 250px;
    flex-flow: wrap;
}

.tarjetas-productos2{
    display: flex;
    margin-top: 0px;
    width: 100%;
    height: 250px;
}

.imagen-productos{
    object-fit: cover;
    justify-content: center;
    width: 250px;
    height: 250px;
}

.contenedor-principal{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border: 2px solid black;
    background-color: white;
}

.titulo-productos{
    width: 100%;
    height: 50px;
    background-color: #193E65;
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top: 15px;
}

.texto-producto{
    flex-flow: wrap;
    position: relative;
    color: black;
    font-family: 'Rubik', sans-serif;
    padding: 50px 30px 0px 30px;
    font-size: 16px;
    width: 100%;
}

.boton-producto2{ 
    height: 40px;  
    background-color: #193E65;
}

.mangueras{
    color: black;
    font-family: 'Rubik', sans-serif;
    padding: 0px 30px 0px 30px;
    font-size: 16px;
}

.lista{
    margin-left:70px;
    margin-bottom: 20px;
}

@media(max-width:992px){
    .texto-producto{
        font-size: 14px;   
    }
    .lista{
        font-size: 14px;   
    }
}

@media(max-width:768px){
    .texto-producto{
        font-size: 10px;
        padding-top: 10px;
    }
    .lista{
        font-size: 10px;
        margin-left: 40px;
    }
    .imagen-productos{
        height: 200px;
        width: 200px;
    }
    .tarjetas-productos2{
        height: 200px;        
    }
}

@media(max-width:576px){
    .texto-producto{
        font-size: 8px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .mangueras{
        padding-left: 10px;
    }
    .lista{
        font-size: 8px;
        margin-left: 40px;
    }
    .imagen-productos{
        height: 170px;
        width: 150px;

    }
    .tarjetas-productos2{
        height: 170px;        
    }
    .boton-producto2{
        font-size: 8px;
        height: 20px;
    }
    .titulo-productos{
        font-size: 10px;
        height: 20px;
        padding-top: 5px;
    }
    .logo{
        height: 32px;
        width: 110px;
    }
    .navegador .fa-bars{
        display: block;
        margin: 10px;
        font-size: 15px;
        color: white;

    }
    .navegador{
        height: 32px;
    }
    .titulo-productos-h1{
        margin-top: 30px;
    }
    .contenedor-principal{
        margin-top: 50px;
    }
    .titulo-h3{
        font-size: 20px;
    }
    #A002{
        font-size: 16px;
    }
    .texto{
        font-size: 12px;
    }
}